<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidhuman.example.simplegithub"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.signin.SignInActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authorize"
                    android:scheme="simplegithub" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/search"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidhuman.example.simplegithub.ui.main.MainActivity" />
        </activity>

        <activity
            android:name=".ui.repo.RepositoryActivity"
            android:label="@string/view_repository"
            android:parentActivityName=".ui.main.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidhuman.example.simplegithub.ui.main.MainActivity" />
        </activity>
    </application>

</manifest>